<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>S</title>

    <link rel="stylesheet" href="css.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" type="text/css" />
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
</head>

<body>

<div id="container" th:text="${name}" ></div>


<footer>
    <a class="tzine" href="https://github.com/bolatov97">Смотрите мои другие проекты в Github</a>

</footer>

<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
<script src="shuffle.js"></script>
<script src="script.js"></script>

</body>
</html>

